@model ProfileViewModel

@{ 
	ViewData["Title"] = "Profile Edit";
}

<h1 class="font-bold pl-2">Profile</h1>

<div class="w-full mt-4">
    <form 
        asp-action="Edit"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
        method="post"
        enctype="multipart/form-data"
    >
        <input asp-for="Id" type="hidden" />
        <div class="text-red-500" asp-validation-summary="All"></div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" asp-for="Name"></label>
            <input 
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                asp-for="Name" 
                type="text" 
            />
            <span class="block text-red-500 text-xs italic" asp-validation-for="Name"></span>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" asp-for="Email"></label>
            <input 
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                asp-for="Email" 
                type="email" 
            />
            <span class="block text-red-500 text-xs italic" asp-validation-for="Email"></span>
        </div>
        
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" asp-for="Password"></label>
            <input 
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" 
                asp-for="Password"
                type="password" 
            />
            <span class="block text-red-500 text-xs italic" asp-validation-for="Password"></span>
        </div>

        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" asp-for="ConfirmPassword"></label>
            <input 
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" 
                asp-for="ConfirmPassword"
                type="password" 
            />
            <span class="block text-red-500 text-xs italic" asp-validation-for="ConfirmPassword"></span>
        </div>
        
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" asp-for="Image"></label>
            <input 
				asp-for="Image"
				class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
				type="file"
			/>
        </div>
        
        <div class="flex items-center justify-between">
            <button 
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                type="submit"
            >
                Save
            </button>
        </div>
    </form>
</div>