<!DOCTYPE html>

<html lang="@Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/png" href="~/dashboard-icon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css//style.css" />
</head>

<style>
    html {
        overflow-x: hidden;
    }
</style>

<body>
    <div class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">
        
        <partial name="_NavbarPartial" />

        <main>
            <div class="flex flex-col md:flex-row">
                
                <partial name="_SidebarPartial" />

                <section class="w-full">
                    <div id="main" class="main-content h-full bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">  
                        @RenderBody()
                    </div>
                </section>
            </div>
        </main>
    </div>

    <script>
        function toggleDD(myDropMenu) {
            document.getElementById(myDropMenu).classList.toggle("invisible");
        }

        window.onclick = (e) => {
            if (!e.target.matches('.drop-button') && !e.target.matches('.drop-search')) {
                const dropdowns = document.getElementsByClassName("dropdownlist");
                for (let i = 0; i < dropdowns.length; i++) {
                    const openDropdown = dropdowns[i];
                    if (!openDropdown.classList.contains('invisible')) {
                        openDropdown.classList.add('invisible');
                    }
                }
            }
        }
    </script>
    <script src="https://cdn.ckeditor.com/ckeditor5/34.1.0/classic/ckeditor.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
