@using Collections.Constants

<aside aria-label="alternative nav">
    <div class="bg-gray-800 shadow-xl h-20 fixed bottom-0 mt-12 md:relative md:h-screen z-10 w-full md:w-48 content-center">
        <div class="md:mt-12 md:w-48 md:fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between">
            <ul class="list-reset flex flex-row md:flex-col pt-3 md:py-3 px-1 md:px-2 text-center md:text-left">
                <li class="mr-3 flex-1">
                    <a
                        asp-area="Dashboard"
                        asp-controller="Collection"
                        asp-action="Index"
                        active-class="border-blue-600 text-blue-600"
                        class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-pink-500"
                    >
                        <span class="pb-1 md:pb-0 text-xs md:text-base text-gray-400 md:text-gray-200 block md:inline-block">
                            Collections
                        </span>
                    </a>
                </li>
                <li class="mr-3 flex-1">
                    <a 
                        asp-area="Dashboard"
                        asp-controller="Item"
                        asp-action="Index"
                        class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-purple-500"
                    >
                        <span class="pb-1 md:pb-0 text-xs md:text-base text-gray-400 md:text-gray-200 block md:inline-block">
                            Items
                        </span>
                    </a>
                </li>
                @if (User.IsInRole(Roles.RoleAdmin))
                {
                    <li class="mr-3 flex-1">
                        <a 
                            asp-area="Dashboard"
                            asp-controller="User"
                            asp-action="Index"
                            class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-green-500"
                        >
                            <span class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-white block md:inline-block">
                                Users
                            </span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</aside>