<!DOCTYPE html>
<html lang="@Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Collections</title>
    <link rel="shortcut icon" type="image/png" href="~/icon.png" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body class="dark:bg-gray-900 bg-white text-white">
    <header class="border-b border-gray-800">
        <nav class="relative max-w-7xl mx-auto flex flex-col lg:flex-row items-center justify-between px-4 py-6">

            <partial name="_BurgerMenuPartial" />

            <div class="flex flex-col lg:flex-row items-center">
                <a asp-controller="Home" asp-action="Index">
                    @*<img src="~/images/logo.svg" alt="Logo" class="w-20 flex-none" />*@
                    <span class="dark:text-white text-gray-900 text-4xl uppercase">Logo</span>
                </a>

                <partial name="_LoginStatusPartial" />
            </div>

            <div class="flex flex-col sm:flex-row items-center mt-6 lg:mt-0">
                <partial name="_SearchPartial" />
            </div>
        </nav>
    </header>

    <main class="py-8">
        @RenderBody()
    </main>

    <footer class="border-t border-gray-800">
        <div class="max-w-7xl mx-auto px-4 py-6">
            All rights reserved
        </div>
    </footer>

    <script type="module" src="~/js/script.js"></script>
</body>
</html>