<div>
    <img src="~/images/icons/moon.svg" id="moon" class="w-10 cursor-pointer" alt="Moon" />
    <img src="~/images/icons/sun.svg" id="sun" class="w-6 cursor-pointer" alt="Sun" />
</div>

<div class="mx-2 relative">
    <input
        id="searchInput"
        type="text"
        class="dark:bg-gray-800 bg-blue-300 text-sm rounded-full focus:outline-none focus:shadow-outline w-64 px-3 pl-8 py-1"
        placeholder="Search..."
    />
                
    <div class="absolute top-0 flex items-center h-full ml-2">
        <img src="~/images/lupa.svg" alt="Lupa" class="w-4">
    </div>
                
    <div class="absolute z-50 bg-gray-800 text-sm rounded w-64 mt-2">
        <ul id="searchResultList">
            
        </ul>
    </div>
</div>

<div class="mx-2">
    @if(User.Identity.IsAuthenticated && User.Claims.FirstOrDefault(c => c.Type == "Image") != null)
    {
        <img 
            src="~/images/@User.Claims.FirstOrDefault(c => c.Type == "Image").Value" 
            alt="avatar" 
            class="rounded-full w-8"
        />
    }
    else
    {
        <img 
            src="~/images/avatar.png" 
            alt="avatar" 
            class="rounded-full w-8"
        />
    }
</div>

<div class="relative mx-2">
    <partial name="_LocaleSwitcherPartial" />
</div>